* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e7eefb;
}

/* UTILITY */
.container {
  width: 80%;
  margin: 0 auto;
}
.mb-1 {
  margin-bottom: 1rem;
}

/* BUTTONS */
.btn {
  padding: .6em 1.2em;
  border-radius: .5em;
  border: 0;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}
.btn-primary {
  background-color: rgb(36, 46, 93);
  color: #fff;
}

/* FORMS */
.form-control {
  font-size: .9rem;
  padding: .5em;
  border-radius: .5em;
  border: 1px solid #6d6d6d;
}
.form-control:focus {
  outline: 1px solid #4c5f83;
}


.content_info,
.content_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: .8rem;
}
.content_list li {
  list-style: none;
  background-color: #333;
  color: #fff;
  padding: .2em 1em;
  border-radius: 100vh;
  cursor: pointer;
}